@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right d-flex float-right ml-auto mr-0" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item">
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        </li>
        <li class="nav-item mt-auto"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    }
}
else
{
    if (Request.Url.AbsolutePath != "/" && Request.Url.AbsolutePath.ToLower()!="/account/login") { 
        <li class="nav-item mt-auto">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link bold", style="font-size:24px" })</li>
    }
}
